.div1{
    background: gray;
    width: 150px;
    height: 80px;
    left: 50%;
    position: relative;
    transform: translateX(-75px);
}

.circle{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}