h1{
    color: rgb(27, 177, 27);
}

.p_azul{
    color: blue;

}

.p_rojo{
    color: red;
    /*text-align: center;*/
}

.p_azul,.p_rojo,#ultimo_parrafo,h1{
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#primer_parrafo{
    background-color: black;
    color: white;
    text-align: center;
    width: 1200px;
    height: 120px;
    padding: 20px 20px 20px 20px;
    border: 10px solid red;

    border-radius: 20%;
    margin-top: 50px;
    box-sizing: border-box;
    /*
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    */
}

#ultimo_parrafo{
    color: green;
}

.p_rojo i{
    background: violet;
    color: white;
}

.login{
    padding: 30px;
    background: yellow;
    position: fixed;
}

a{
    padding: 30px;
    background-color: aqua;
    display:inline-block;
    text-align: justify;
}

a:hover{
    background: darkblue;
    padding: 10px;
}
/*fondo de pantalla 
body{
    background: gray;
}
*/
.img_transmi{
    background: transparent;
    border-width: 30px;
    border-style: solid;
    display: inline-block;
    border-color:transparent;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 20px gray;
}