body{
    font-family: serif;
    background: lightgray;
}

h1{
    text-align: center;
    color: navy
}

.primera_fila{
    background-color: rgb(21, 21, 237);
    color: white;
    height: 30px;
    font-weight: bold;
}

.content{
    background-color: lightskyblue;
    color: red;
    height: 20px;

}

.content:hover{
    height: 30px;
    font-weight: bold;
}

#miTabla{
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 50px;
    
    box-shadow: 2px 2px 134px -16px rgba(69,88,194,0.75);
}

td{
    border-radius: 10%;
}

.edit_button{
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    width: 50%;
    /*position: absolute;*/
    color:black;
}

.edit_button2{
    background-color:blueviolet;
    align-items: center;
    
}