<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Bus</title>
</head>
<body>
    <form action="/edit_bus" method="post">        
        <input type="hidden" name="id" value="{{bus['id']}}" />
        <br/>
        <label>Modelo </label>
        <input type="number" name="modelo" value="{{bus['modelo']}}" />
        <br/>
        <label>Capacidad </label>
        <input type="number" name="capacidad" value="{{bus['capacidad']}}"  />
        <br/>
        <label>Placa </label>
        <input type="text" name="placa" value="{{bus['placa']}}"  />
        <br/>
        <label>Marca </label>
        <input type="text" name="marca" value="{{bus['marca']}}"  />
        <br/>
        <input type="submit" value="Editar Bus"/>
    </form>
</body>
</html>