<!DOCTYPE html>
<head><!-- Esto es un comentario en html -->
    <title>MI SISTEMA DE TRANSPORTE MASIVO</title>
    <!--link rel="stylesheet" href="/styles/index.css"-->
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <!--style>
        h1{
            color: blue;
            background-color: blueviolet;
        }
    </style-->
    <h1>ADMINISTRADOR DE SISTEMA DE TRANSPORTE MASIVOS</h1> <!--Titulo principal-->
    <!-- h1 style="color: cyan; background-color: darkgreen;">ESTA ES UNA PRUEBA DE CSS PARA VER QUE TODOS LOS H1 SE AFECTAN</h1>-->
    <h2>Mintic 2022</h2> <!--Titulo secundario-->
    <h3>Grupo S34</h3>
    {% if ip=="127.0.0.1" %}
        <h3>Tu IP es :{{ip}}</h3> <!-- estoy haciendo referecia a la variable ip a traves de la funcion render-template-->
        <h3>La variable es: {{v2}}</h3>
    {% else %}
        <h3>Variable no encontrada</h3>
    {% endif %}
    <ul>
        {% for registro in buses %}
        <li>{{registro}}</li>
        {% endfor%}
    </ul>

    <a class="login" href="/login">Ir a login</a>
    <a href="registro.html">Ir a registro</a>
    <p id="primer_parrafo"> Experiencia certificada como docente de matemáticas y física de bachillerato,<br/> docente entrenador del área de 
        Física y Matemáticas para cursos de pre-saberes (ICFES Colombia)<br/> y pre-universitarios (UNAL Colombia). 
        Egresado de la universidad pedagógica nacional, licenciatura en Electrónica.</p>
    <p class="p_azul">este es un demo para mostrar la arquitectura cliente servidor</p>
    <p class="p_rojo"><i>este es un demo para mostrar <br/> la arquitectura cliente servidor</i></p>
    <p id="ultimo_parrafo">este es un demo para mostrar <hr/> la arquitectura cliente servidor</p>
    <p><i>este es un demo para mostrar la arquitectura cliente servidor</i></p>
    
    <h4>Ejemplos de sistemas de transporte masivos</h4>
    <ol>
        <li>Transmilenio</li>
        <li>Metrolinea</li>
        <li>Mio</li>
        <li>Transcaribe</li>
    </ol>
    <ul>
        <li>Transmilenio</li>
            <Ol>
                <li>B13</li>
                <li>B14</li>
                <li>B16</li>
                <li>B18</li>
            </Ol>
        <li>Metrolinea</li>
            <ul>
                <li>T1</li>
                <li>T2</li>
                <li>T3</li>
            </ul>
        <li>Mio</li>
            <ul>
                <li>A1</li>
                <li>A2</li>
            </ul>
        <li>Transcaribe</li>
            <ul>
                <li>B1</li>
                <li>B2</li>
            </ul>
    </ul>
    <hr/>
    <img class="img_transmi" src="../images/tm.png" alt="Imagen no encontrada"/>
    <a  href="https://www.transmilenio.gov.co/"><img src="../images/tm.png" alt="Imagen no encontrada"/></a>
    <iframe src="https://www.youtube.com/embed/eqr4QrwSEj4" width="420" height="315"></iframe>
    <hr/>
    <table border="1">
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Pais</td>
        </tr>
        <tr>
            <td>William</td>
            <td>Medina</td>
            <td>Colombia</td>
        </tr>
        <tr>
            <td>Yesica</td>
            <td>Zarate</td>
            <td>Colombia</td>
        </tr>
        <tr>
            <td>Alejandro</td>
            <td>Medina</td>
            <td>Colombia</td>
        </tr>
    </table>
</body>
</html>

<!-- ETIQUETAS-->
<!-- <h1> titulo -->
<!-- <h2> subtitulo -->
<!-- <p> párrafo -->
<!-- <br/> salto de linea -->
<!-- <hr/> salto de linea con dibujo línea -->
<!-- <h3> tercer encabezado -->
<!-- <i> cursiva -->
<!-- <blockquote> una especie de cita -->

<!-- LISTAS NUMERADAS -->
<!-- <ol> <li>lista numerada-->

<!-- LISTAS NO NUMERADAS -->
<!-- <ul> <li>lista numerada-->

<!-- LISTAS con sublistas -->
