<!DOCTYPE html>
<html>
    <head>
        <title>MI SISTEMA DE TRANSPORTE MASIVO</title>
        <!-- esto es un comentaro en html -->
        <!--link rel="stylesheet" href="/styles/login.css"-->
        <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">

    </head>
    <body>
        <div class="caja_login">
            <h1> Inicio de sesion</h1>
            <form method="post">
                <label>Nombre de Usuario</label>
                <input type="text" name="username" placeholder="Ingrese su nombre de usuario">
                <label>contraseña</label>
                <input type="password" name="passwd" placeholder="ingrese su contraseña">
                <input type="submit">
                <a href="#">Recordar la contraseña</a>
                <a href="#">Crear ua nueva cuenta</a>
            </form>

        </div>
    </body>
</html>